{% extends "hypno.html" %}


{% block title %}Card{% endblock %}


{% block subcontent %}


<!--

<div class="text-center">
    <h1 class="display-3">{{ card }}</h1>
    <br>
    <p>{{ prompt }}</p>

    <div class="container my-5">
    <button type="button" class="btn btn-outline-light" onclick="window.location.href='/draw'">Redraw</button>
    </div>

</div>
-->

<div class="text-center">
    <h1 class="display-4">{{ card }}</h1>

</div>
<div class="text-center">
    <p>{{ prompt }}</p>
</div>
<div class="container text-center">
    <button type="button" class="btn btn-outline-light" onclick="window.location.href='/draw'">Redraw</button>


</div>

{% endblock %}
