{% extends "base.html" %}

{% block title %}Random Color Generator{% endblock %}

{% block content %}

<!--
<div class="jumbotron text-center">
    <h1 class="display-4">The Pensive Tarot</h1>
    <p class="lead">Not The Card You Want <br> The Card You Need</p>

</div>
-->
<div class="container py-5 text-center">
    <div class="container-fluid p-5 mb-4 my-4 bg-dark rounded-3">
    <div class="container-fluid p-5 mb-4 my-4 bg-light rounded-3">
    <div class="container-fluid p-5 mb-3 my-3 bg-dark rounded-3">
    <div class="container-fluid p-5 mb-3 my-3 bg-light rounded-3">
    <div class="container-fluid p-5 mb-3 my-3 bg-dark rounded-3 text-white">

        <h1 class="display-4">The Pensive Tarot</h1>
        <p class="text-center">Not The Card You Want <br> The Card You Need</p>
        <button type="button" class="btn btn-outline-light btn-lg" onclick="window.location.href='/draw'">Draw Card</button>

    </div>
    </div>
    </div>
    </div>
    </div>
</div>

<div class="text-center">
    <!--<button class="btn-danger btn-lg" onclick="window.location.href='/draw'">Draw Card</button>-->>

</div>
{% endblock %}


---


{% extends "base.html" %}
{% block title %}Random Color Generator{% endblock %}

{% block content %}


<div class="container py-5 text-center">
    <div class="container-fluid p-5 mb-1 my-1 bg-dark rounded-3">
    <div class="container-fluid p-5 mb-1 my-1 bg-light rounded-3">
    <div class="container-fluid p-5 mb-1 my-1 bg-dark rounded-3">
    <div class="container-fluid p-5 mb-1 my-1 bg-light rounded-3">
    <div class="container-fluid p-5 mb-1 my-1 bg-dark rounded-3 text-white">
        {% block subcontent %}{% endblock %}

    </div>
    </div>
    </div>
    </div>
    </div>
</div>

<div class="text-center">
    <!--<button class="btn-danger btn-lg" onclick="window.location.href='/draw'">Draw Card</button>-->>

</div>
{% endblock %}